@import "../../style.scss";

.leftBar{
  @include themify($themes) {
  flex: 2;
  //to make the left bar stick so it wont move when scroll have to do 3 things
  //position stricky, see how much you put on the navbar of padding and space, and than use the cal to calculate the height
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);

  //if you have too many items in your left bar and you need it to scroll you need to 
  //use the overflow set it to scroll
  overflow: scroll;
  background-color: themed("bg");
  color: themed("textColor");

    //using the media query
    @include mobile{
      display: none;
    }

  //if you don't want the scroll bar to show just use the webkit
  &::-webkit-scrollbar{
    display: none;
  }

  .container{
    padding: 20px;

    hr{
      margin: 20px 0px;
      border: none;
      height: 0.5px;
      background-color: themed("border");
    }

    .menu{
      display: flex;
      flex-direction: column;
      gap: 20px;

      span{
        font-size: 12px;
      } 

      .user{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;          
        }
        span{
          font-size: 14px;
        }
      }
        
      .item{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover; 
        }
        span{
          font-size: 14px;
        }
      }

    }
  }
}
}